doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="style.css")
	body
		.modal
			.modal__card
				.modal__header
					img.modal__svg(src='./icons/IconArrowBack.svg' alt='')
					h2.modal__title Android Wear 2.0: Great Changes Upcoming this Fall
					.modal__button
						a.modal__button-link(href='#') Android 
				.main-content
					h3.main__info September 10, 14:00 - 14:40
					h3.main__info Conference hall
					h3.main__info Content level: Beginner
					p.main__abstract
						| Google announced Android Wear 2.0 become available this Fall. This
						| major update brings some revolutionary changes in platform, that
						| should change our approaches in developing wearable apps, including
						| freedom of BLE tethering, system support for complications and
						| activity recognition by GoogleFit, developed mainly for Android Wear
						| 2.0. We will talk deeper about these new features and look at some
						| ways to implement them in the code.
				.speakers
					h3.speakers__mini-speakers
						| Speakers
						a.speakers__link(href='#')
							img.speakers__img(src='./img/carmen.jpg' alt='')
							p.speakers__name Anton Minashkin
							p.speakers__place EPAM / Lviv, Ukraine
				.footer-session
					h3.footer-session__review Review session
					p.footer-session__check Session reviews are not open
					img.footer-session__svg(src='./icons/IconBooke.svg' alt='')
